NEXT_PUBLIC_SITE_URL=
ADMIN_API_KEY=
ADMIN_USER=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=
DATABASE_URL=

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
PAYPAL_ENV=sandbox
PAYPAL_ENABLED=true
PAYPAL_ALLOWED_COUNTRIES=ALL

STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_ENABLED=false
CARD_ALLOWED_COUNTRIES=ALL

ZELLE_ENABLED=true
ZELLE_RECIPIENT_NAME=
ZELLE_RECIPIENT_EMAIL=
ZELLE_RECIPIENT_PHONE=
ZELLE_ALLOWED_COUNTRIES=United States,US,USA
ZELLE_PAYMENT_INSTRUCTIONS=
ZELLE_CUSTOMER_MESSAGE=
